node_modules
dist
build
coverage
.turbo
.next
*.log
*.lock
*.min.*
public/**/*.min.*
*.mjs
*.mdc
.cursor/*
.cursorignore
.editorconfig
.gitignore
.gitmodules
.prettierignore
LICENSE
*.json
*.cjs
*.md
*.js
*.cjs
